<strong> Olá {{ name }}</strong><br />
<small>{{ email }}</small>
<p> Você recebeu uma resposta referente ao seu pedido de auxilio, confira os detalhes abaixo</p>
<p>
<strong>Aluno ID: </strong> {{ student }} <br />
<strong>Data/Hota: </strong> {{ answer_at }} <br />
<strong>Pergunta: </strong> {{ question }} <br />
<strong>Resposta: </strong> {{ answer }} <br />

</p>
