<strong>Olá, {{ student }}</strong><br />
<small>{{ email }}</small>
<p>Bem vindo ao time GymPoint, confira os detalhes de sua matrícula abaixo: </p>
<p>
    <strong>Plano Selecionado: </strong> {{ plan }} <br />
    <strong>Data da Matrícula: </strong> {{ date_start }} <br />
    <strong>Válido Até: </strong> {{ end_date }} <br />
    <strong>Valor Final: </strong> {{ price }} <br />
    <br />
    <small>
        Obrigado por se juntar ao nosso time. <br />
    </small>
</p>
